<!DOCTYPE html>
<html lang="en">
{% include "web/elements/head.html" %}
<body>
	<div class="center-container">
		<h2 class="heading" onclick="window.location.href = '/';">{{ site_name }}</h2>
		{% include "web/elements/messages.html" %}
		<h3>Регистрация</h3>
		<form action="signup" method="post" class="vertical-rows">
			{% csrf_token %}
			<input type="text" name="username" maxlength="{{ max_username_length }}" placeholder="имя пользователя"/>
			<input type="password" name="password" placeholder="пароль"/>
			<input type="password" name="password_repeat" placeholder="пароль (повтор)"/>
			<input type="submit" class="btn-basic" value="Отправить"/>
		</form>
	</div>
</body>
</html>
