{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "web/elements/head.html" %}
<body>
	<script type="text/javascript" src="{% static 'web/timetable.js' %}" type="text/css"></script>
	<div class="center-container">
		<h2 class="heading" onclick="window.location.href = '/';">{{ site_name }}</h2>
		{% include "web/elements/messages.html" %}
		<h3>Расписание</h3>
		<table class="timetable-editable">
			<tr>
				<th></th>
				<th>Пн</th>
				<th>Вт</th>
				<th>Ср</th>
				<th>Чт</th>
				<th>Пт</th>
				<th>Сб</th>
				<th>Вс</th>
			</tr>
			{% for row in timetable %}
			<tr>
				<td>{{ row.hour }}</td>
				{% for cell in row.lessons %}
				<!-- выбор класса на этапе шаблона cell-available или cell-lesson -->
				<td class="cell-{% if cell == '-' %}available{% elif cell != '' %}lesson{% endif %}">
					<input
					maxlength="{{ max_lesson_length }}"
					type="text"
					data-row="{{ forloop.parentloop.counter0 }}"
					data-col="{{ forloop.counter0 }}"
					value="{{ cell }}"
					oninput="cell_changed(this)"
					onkeydown="cell_keydown(this, event)"
					onblur="cell_save(this)"/>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		<p></p>
        <form action="{% url 'web:logout' %}" method="post" class="vertical-rows">
			{% csrf_token %}
            <input type="submit" class="btn-basic" value="Выйти"/>
        </form>
		<p class="result-label"></p>
	</div>
</body>
</html>